header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #95f3f2;
  margin-bottom: 15px;
}

.header-button {
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
  border-style: none;
  background-color: white;
  font-weight: 700;
}

.header-button:hover {
  cursor: pointer;
  background-color: black;
  color: #95f3f2;
}

.header-button-dm {
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
  border-style: none;
  background-color: black;
  font-weight: 700;
  color: #95f3f2;
}

.header-button-dm:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}