header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #95f3f2;
  margin-bottom: 15px;
}

.header-button {
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
  border-style: none;
  font-weight: 700;
}
.header-bg-light{
  background-color: #1a9542;
  color: #95f3f2;
}
.header-bg-dark{
  background-color: black;
  color: #95f3f2;
}
.header-bg-light:hover {
  cursor: pointer;
  background-color: black;
  color: #95f3f2;
}

.header-bg-dark:hover {
  cursor: pointer;
  background-color: #1a9542;
  color: #95f3f2;
}